body {
    display: flex;
}

section {
    flex-grow: 4;
    order: 2;
}

aside {
    flex-grow: 1;
    order: 1;
}

#adminSection {
    flex-grow: 1;
    order: 3;
}

#adminInputsContainer {
    display: flex;
    flex-direction: column;
}

.hidden {
    visibility: hidden;
}
